@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/segoe-ui.ttf') format('truetype');
}

body {
    background-color: #111;
    color: #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1.5em;
    margin: 10px 0 10px 0;
}

.content img {
    margin: 20px 0;
    width: 30rem;
    height: auto;
}